/*  {{ Basic CSS */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html, body{
		height: 100%;
		width: 100%;
	}
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}


/* Basic CSS }}  */

/*  {{ Containers CSS */

	.container {
		width: 100%;
		height: 100%;
	}

/* Containers CSS }}  */

/*  {{ About Me Page CSS */

	#about .navigation{
		height: 100%;
		width: 200px;
		background-color: #222;
		display: grid;
		grid-template-rows: 1fr 2fr;
		background-color: #222;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
	}	

	#about .profilePic{
		height: 100%;
		background-color: blue;
		display: grid;
		grid-template-rows: auto auto;
		align-items: flex-end;
		justify-content: center; 
	}

	#about .image{
		width: 140px;
		height: 140px;
		border: 2px solid black;
		border-radius: 50%;
	}

	#about .navbar{

	}

	#about .navbar ul{
		margin-top: 30px;
		display: grid;
		grid-template-rows: 1fr 1fr;
	}

	#about .navbar ul li{
		text-align: center;
	}

	#about .navbar ul li a{
		display: block;
		font-size: 1.4em;
		padding: 20px 0;
	}

	#about .navbar ul li a:hover{
		background-color: white;
	}

	#about .content{
		margin-left: 200px;
		width: 100%;
		display: grid;
		grid-template-rows: auto auto auto;
	}

	#about .content .bio{
		height: 100vh;
		background-color: yellow;
	}

	#about .content .skills{
		height: 100vh;
		background-color: red;
	}

	#about .content .contact{
		height: 100vh;
		background-color: green;
	}


/* About Me Page CSS }}  */
